.badge {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 8px;
  position: relative;
  left: 3px;
  padding: 4px 4px;

  &--green {
    background: #42b883;
  }
  &--blue {
    background: #64c4ed;
  }
  &--pink {
    background: #ffbbcc;
  }
  &--gray {
    background: #c9d1d3;
  }
  &--lime {
    background: #b6e6bd;
  }
  &--purple {
    background: #c355f5;
  }
  &--black {
    background: #110133;
  }
  &--red {
    background: #ff6464;
  }
}
