* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, system-ui,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  font-size: 14px;
  display: flex;
  &__sidebar {
    background: #f4f6f8;
    width: 200px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }
}
 

.list-btn {
  opacity: 0.4;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 1;
  }
}

.field {
  background: #ffffff;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 7px 8px;

  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15px;
  opacity: 0.8;

  width: 100%;

  &:focus {
    border-color: #cccaca;
  }
}

.btn {
  color: #ffffff;
  background: #4dd599;
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;

  &:hover {
    background: darken($color: #4dd599, $amount: 7%);
  }
  &:active {
    background: darken($color: #4dd599, $amount: 10%);
  }

  &:disabled {
    background: #d8d8d8;
  }
}
